<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="https://udscc.ema.md/ema/pay/onlinepayments" class="button special fit">Make a Payment</a></li>
		<li><a href="https://sso.ema.md/auth/realms/Modmed/protocol/openid-connect/auth?response_type=code&client_id=ema&redirect_uri=https%3A%2F%2Fudscc.ema.md%2Fema%2Fsso%2Flogin&state=fd3e6265-8335-48e9-a5be-d338193fbd06&login=true&login_hint=R0RQUl9DT09LSUU9O1JFVklTSU9OPTE4MDg1ZDhiZDU7RE9NQUlOPXVkc2NjLmVtYS5tZDtPUklHSU49L2VtYS9Qcm92aWRlckxvZ2luLmFjdGlvbjtGSVJNX0xPR089bnVsbDtNQVJLRVRJTkdfQkFOTkVSPVRSVUU7RklSTV9OQU1FPVBhdHJpY2sgUmV0dGVyYnVzaCBNRCBMTEM7T0ZGTElORV9BQ0NFU1M9RkFMU0U7TUVESUNBTF9ET01BSU49ZGVybWF0b2xvZ3k7VkVSU0lPTj03LjUuNy4xO0dEUFI9VFJVRTtNT0JJTEU9RkFMU0U%3D&scope=openid#" class="button fit">Patient Portal</a></li>
	</ul>
</nav>
